* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  overflow-y: scroll;
  color: #333;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(20, 30, 40, 0.7);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ffd700;
}

header, section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}

.hero {
  background: linear-gradient(90deg, #cfc3fc, #4439b8);
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 3.5rem;
}

.hero p {
  font-size: 1.3rem;
  opacity: 0.9;
}

.subtitle {
  display: block;
  font-size: 1.3rem;
  margin-top: 10px;
  font-weight: normal;
  opacity: 0.9;
}

#about p {
  margin-bottom: 20px;
}

.content {
  max-width: 900px;
  width: 100%;
  text-align: center;
}

section {
  background: #f8fafc;
}

section:nth-child(even) {
  background: #ffffff;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #283e51;
}

.project {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  margin-bottom: 20px;
  transition: 0.3s;
  text-align: left;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

.project h3 {
  color: #564bcc;
  margin-bottom: 10px;
}

.project a {
  color: #564bcc;
  text-decoration: none;
  font-weight: bold;
}

.project a:hover {
  color: #ff7f50;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.contact-buttons a {
  background: transparent;
  color:#564bcc;

  padding: 22px 40px;
  font-size: 1.3rem;
  font-weight: 700;

  border: 2px solid #564bcc;
  border-radius: 8px;
  text-decoration: none;

  transition: all 0.3s ease;
}

.contact-buttons a:hover {
  background: #564bcc;
  color: white;
}
footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color: #666;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .nav-links {
    gap: 15px;
  }

  .contact-buttons {
    flex-direction: column;
  }
}